@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

body {
    background-color: #FED430 ;
    font-family: "Gabarito", sans-serif;
}

/* CSS for landing page */
.landing-page-container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-container .logo {
    display: flex;
    flex-direction: column;
}

.landing-page-container .logo img {
    max-width: 15em;
    margin-bottom: 2em;
}

.landing-page-container .logo .illustration {
    width: 30em;
}

.landing-page-container .welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container .welcome-text h1 {
    margin-bottom: 0.5em;
}

.landing-page-container .welcome-text p {
    margin-bottom: 1.5em;
}

/* Button styling */
.landing-page-container .welcome-text a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #F95308;
    padding: 1em 2em;
    border-radius: 2em;
    letter-spacing: 0.1em;
    transition: ease .3s;
}

.landing-page-container .welcome-text a:hover {
    background-color: #009C53;
}
